{% extends "maintemplate.jinja2" %}

{% block title %}
The First Wave - Pyramid Framework Website
{% endblock %}

{% block content %}
    <strong>Wstęp</strong>
    <br />
    <br />
    Nie śmiem wątpić, że przeglądając tę stronę przeszedłeś przez niezbyt skomplikowany poradnik instalacyjny, który jest konieczny do uruchomienia tej aplikacji. Generalnie rzecz biorąć jest to mój pierwszy projekt stworzony za pomocą Pyramida - Pytonowego Web Frameworka.
    <br /><br />
    Nie ukrywam, że początki były dla mnie bardzo trudne, szereg nowych informacji, którym trzeba było stawić czoła nie raz powalił mnie na nogi, demotywując przy tym do dalszej pracy. Dodatkowym problemem był zupełny brak obycia się z zasadami panującymi w typowych frameworkach, ze względu na brak styczności z nimi w przeszłości. To determinacja i chęć bycia lepszym od samego siebie, z dnia na dzień poszerzały moją wiedzę w tym temacie - czego życzę również Tobie!
    <br /><br /><br />
    <strong>Jaka jest zawartość strony?</strong>
    <br />
    The First Wave - jak jego nazwa wskazuje, jest projektem rozpoczynającym moją "zabawę" w świecie Pythona. Doszedłem to wniosku, iż stworzenie nawet najprostszej aplikacji ułatwi mi zrozumienie pewnych zagadnień czy też zasad panujących w obrębie tego tematu. Przede wszystkim zawartością tej strony jest wyjaśnienie pewnych podstawowych pojęć związanych z Pyramidem, ich opisem i zastosowaniem w dalszych projektach.
    <br /><br />
    Jeżeli nie zrozumiesz wszystkiego od razu, nie zamarwtiaj się tym. Wiele czynników stanie się jasnych dopiero wtedy, kiedy sam napiszesz aplikację.
    <br /><br /><br />
    <strong>Jak zbudowana jest ta strona?</strong>
    <br />
    Przede wszystkim jest to zbiór połączonych ze sobą odnosników, bazujących na jednym szablonie - dziedziczonym za pomocą Jinja2 - fron-endowego języka. Cały mechanizm oparty jest o zawartość statyczną, co umozliwiło szybkie stworzenie owego szablonu, ale jednocześnie ograniczyło ogrom napierających informacji, ponieważ analogicznie do tego przykładu można stworzyć aplikację pobierającą całą zawartość z bazy danych.
    <br /><br />
    Całość jest w pełni responsywna, co oznacza w pełni dopasowywanie się zawartości do rozdzielczości urządzenia. Aby to przetestować, po prostu zmniejsz rozmiar okna Twojej przeglądarki :-).
    <br /><br /><br />
    <strong>Kontakt</strong>
    <br />
    Jeżeli szukasz bezpośredniego kontaktu ze mną, odwiedź stronę "O mnie".
    <br />
    <br />
    Pozdrawiam,
    <br />
    Cezary Kaszuba

    <br /><br /><br /><br />
    <em>Data utworzenia aplikacji: 23.12.2014</em>
{% endblock %}