{% extends "maintemplate.jinja2" %}
{% block title %}
Views.py - The First Wave
{% endblock %}

{% block content %}
<strong>Views.py</strong>
        <br/>
        Na temat "Widoku" napisałem kilka słów w dziale "Pojęcia". Tutaj umieszczam zrzut pliku <em style="color: #455868;font-weight: bold;">views.py</em>:
        <br/><br/>
        <img src="{{ url }}" alt="" width="95%" height="95%"/>
        <br/><br/>
        Każda ścieżka / trasa tej aplikacji posiada swoje odwołanie. Innymi słowy w chwili aktywowania danej trasy, następuje reakcja,  uruchomienie wcześniej zadeklarowanej konfiguracji.
        <br/><br/>
        Deklaracja tras (ang. routes) następuje w pliku <a href="/init" target=""><em style="color: #455868;font-weight: bold;">__init__.py</em></a>.


{% endblock %}